Source: ignition-common2
Standards-Version: 3.9.8
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               pkg-config,
               debhelper (>= 9),
               libfreeimage-dev,
               libignition-cmake1-dev,
               libignition-math5-dev,
               libtinyxml2-dev,
               uuid-dev,
               libgts-dev,
               libavdevice-dev,
               libavformat-dev,
               libavcodec-dev,
               libswscale-dev,
               libavutil-dev
Vcs-Browser: https://bitbucket.org/ignitionrobotics/ign-common2-release
Vcs-Hg: https://bitbucket.org/ignitionrobotics/ign-common2-release
Homepage: http://ignitionrobotics.org/

Package: libignition-common2
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Ignition Common classes and functions for robot apps - Shared library
  Ignition Common is a component in the ignition framework, a set of libraries
  designed to rapidly develop robot applications.

Package: libignition-common2-dev
Architecture: any
Section: libdevel
Depends: libfreeimage-dev,
         libignition-cmake1-dev,
         libignition-math5-dev,
         libtinyxml2-dev,
         uuid-dev,
         libgts-dev,
         libavdevice-dev,
         libavformat-dev,
         libavcodec-dev,
         libswscale-dev,
         libavutil-dev,
         libignition-common2 (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Ignition Common classes and functions for robot apps - Development files
  Ignition Common is a component in the ignition framework, a set of libraries
  designed to rapidly develop robot applications.
